.header-block {
  background-color: #c29545;
}
.logo {
  color: #323030;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.stopwatch {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #323030;
}
