.app-bar {
  position: relative;
}
.header-block {
  background-color: #c29545;
  color: #323030;
  width: 100%;
}
.title {
  flex: 1;
  margin-left: 16px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}
