.animal-card {
  transition: transform 0.8s;
  height: 120px;
  width: 120px;
  border-radius: 3px;
  background: #323030;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  user-select: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}

.card-front {
  transition: transform 0.8s;
  background: #f50057;
}

.card-front:hover {
  opacity: 0.6;
  transform: scale(1.02);
}

.card-back {
  background: #c29545;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipped {
  transform: rotateY(180deg);
}
